.select label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

.select select {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 0px;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    width:100%;
}